<div class="opening-hours">
  <div class="Week-hours">
    <h5> Semaine : </h5>
    <ul>
      <%= form_with model:@availability, url: coworking_manager_coworking_path(@coworking.id), method: :patch, local: true do |form| %>
        <%= form.label :week_opening_time, "Heure d'ouverture" %>
        <%= form.time_field :week_opening_time, value: @availability.week_opening_time %>
        <%= form.label :week_closing_time, "Heure de fermeture" %>
        <%= form.time_field :week_closing_time, value: @availability.week_closing_time %>
        <%= form.submit "enregistrer" %>
        <% end %>
    </ul>
  </div>
  <div class="Week-end-hours">
    <h5> Week-end : </h5>
    <ul>
      <%= form_with model:@availability, url: coworking_manager_coworking_path(@coworking.id), method: :patch, local: true do |form| %>
        <%= form.label :weekend_opening_time, "Heure d'ouverture" %>
        <%= form.time_field :weekend_opening_time, value: @availability.weekend_opening_time %>
        <%= form.label :weekend_closingend_time, "Heure de fermeture" %>
        <%= form.time_field :weekend_closing_time, value: @availability.weekend_closing_time %>
        <%= form.submit "enregistrer" %>
      <% end %>
    </ul>
  </div>
</div>
