  <%= form_with model:@availability, url: coworking_manager_coworking_path(@coworking.id), method: :patch, local: true do |form| %>
  <div class = "edit-coworking checkbox in-line">
    <div>
      <div>
        <div class = "day">
          <%= form.check_box :is_open_monday, value: @availability.is_open_monday %>
          <%= form.label :is_open_monday, "lundi" %>
        </div>
        <div class = "day">
          <%= form.check_box :is_open_tuesday, value: @availability.is_open_tuesday %>
          <%= form.label :is_open_tuesday, "mardi" %>
        </div>
        <div class = "day">
          <%= form.check_box :is_open_wednesday, value: @availability.is_open_wednesday %>
          <%= form.label :is_open_wednesday, "mercredi" %>
        </div>
        <div class = "day">
          <%= form.check_box :is_open_thursday, value: @availability.is_open_thursday %>
          <%= form.label :is_open_thursday, "jeudi" %>
        </div>
        <div class = "day">
          <%= form.check_box :is_open_friday, value: @availability.is_open_friday %><br>
          <%= form.label :is_open_friday, "vendredi" %>
        </div>
      </div>
      <div>
        <div class = "day">
          <%= form.check_box :is_open_saturday, value: @availability.is_open_saturday %>
          <%= form.label :is_open_saturday, "samedi" %>
        </div>
        <div class = "day">
          <%= form.check_box :is_open_sunday, value: @availability.is_open_sunday %>
          <%= form.label :is_open_sunday, "dimanche" %>
        </div>
      </div>
    </div>
    <%= form.submit "Enregistrer" , class:"btn btn-primary" %>
  </div>
<% end %>
