<h3>Informations générales</h3>
<%= form_with model:@coworking, url: coworking_manager_coworking_path(@coworking.id), method: :patch, local: true do |form| %>
  <div class="edit-coworking">
    <div>
      <%= form.label :name, "Nom du coworking" %>
      <%= form.text_field :name, value: @coworking.name %><br/>
      <%= render partial: "shared/input_error_message", locals: {error: @coworking.errors[:name]}%>
    </div>
    <div>
      <%= form.label :email, "Email du coworking" %>
      <%= form.email_field :email, value: @coworking.email %><br/>
      <%= render partial: "shared/input_error_message", locals: {error: @coworking.errors[:email]}%>
    </div>
    <div>
      <%= form.label :description, "Description" %>
      <%= form.text_area :description, value: @coworking.description %><br/>
    </div>
    <div>
      <%= form.label :phone_number, "Tel accueil" %>
      <%= form.phone_field :phone_number, value: @coworking.phone_number %><br/>
      <% if @coworking.errors[:phone_number].any? %>
        <ul>
          <% @coworking.errors[:phone_number].each do |message| %>
            <li class="alert alert-danger"><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <%= form.submit "Enregistrer", class:"btn btn-primary" %>
  </div>
<% end %>
