<%if @coworking.coworking_pictures.attached?%>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <%@coworking.coworking_pictures.each do |picture|%>
        <% if picture.id == @coworking.coworking_pictures.first.id %>
          <%=link_to "Supprimer", coworking_coworking_picture_path(@coworking.id, picture.id), :method => :delete, class:"btn btn-danger btn-delete" %>
          <div class="carousel-item active">
            <%= image_tag picture, alt: 'picture' %>
          </div>
        <%else%>
          <%=link_to "Supprimer", coworking_coworking_picture_path(@coworking.id, picture.id), :method => :delete, class:"btn btn-danger btn-delete" %>
          <div class="carousel-item">
            <%= image_tag picture, alt: 'picture' %>
          </div>
        <%end%>
      <%end%>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<%end%>
<%= form_tag coworking_coworking_pictures_path(@coworking), multipart: true do %>
  <%= file_field_tag :coworking_pictures, class:"btn btn-secondary" %>
  <%= submit_tag "Ajouter une photo", class:"btn btn-info" %>
<% end %>
