      
<div class = "cw-edit active-storage">
  <h3>Photos du coworking</h3>
  <%= render 'coworking_pictures_edit' %>
</div>
<div class='edit-coworking block1'>
  <%= render 'coworking_edit'%>
</div>
<div class='edit-coworking block1'>
  <h3>Paramètres de réservation via Woovv</h3>
  <%= render 'available_spots_edit'%>
</div>
<div class='edit-coworking block1'>
  <h3>Jours d'ouvertures</h3>
  <%= render 'available_days_edit'%>
</div>
<div class='edit-coworking block1'>
  <h3>Horaires d'ouvertures</h3>
  <%= render 'available_hours_edit'%>
</div>
<div class='edit-coworking block1'>
  <h3>Informations privées</h3>
  <%= render 'private_set_up_edit'%>
</div>
<div class='edit-coworking block1'>
  <h3>Informations publiques</h3>
  <%= render 'public_set_up_edit'%>
</div>
