<%= form_with model:@private_set_up, url: coworking_manager_coworking_path(@coworking.id), method: :patch, local: true do |form| %>
  <div class="edit-coworking">
    <div>
      <%= form.label :wifi_password, "Mot de passe Wi-Fi" %>
      <%= form.text_field :wifi_password, value: @private_set_up.wifi_password %>
    </div>
<<<<<<< Updated upstream
    <div> <%= form.label :manager_phone_number, "Tel direct du manager" %>
      <%= form.phone_field :manager_phone_number, value: @private_set_up.manager_phone_number %>
=======
    <div class="cafe">
      <div class="cafe-width">
    <%= form.label :manager_phone_number, "numéro de téléphone direct du manager" %>
      </div>
    <%= form.phone_field :manager_phone_number, value: @private_set_up.manager_phone_number %><br/>
    <% if @private_set_up.errors[:manager_phone_number].any? %>
      <ul>
        <% @private_set_up.errors[:manager_phone_number].each do |message| %>
          <li class="alert alert-danger"><%= message %></li>
        <% end %>
      </ul>
    <% end %>
>>>>>>> Stashed changes
    </div>
    <%= form.submit "Enregistrer", class:"btn btn-primary"  %>
  </div>
<% end %>
