<div class="col-md-10">
  <%= form_with model:@private_set_up, url: coworking_manager_coworking_path(@coworking.id), method: :patch, local: true do |form| %>
    <div class="cafe">
      <div class="cafe-width">
        <%= form.label :wifi_password, "mot de pass wifi" %>
      </div>
      <%= form.text_field :wifi_password, value: @private_set_up.wifi_password %><br/>
    </div>
    <div class="cafe">
      <div class="cafe-width">
    <%= form.label :manager_phone_number, "numéro de téléphone direct du manager" %>
      </div>
    <%= form.phone_field :manager_phone_number, value: @private_set_up.manager_phone_number %><br/>
    </div>
    <%= form.submit "enregistrer", class:"btn btn-primary"  %>
  <% end %>
</div>
