<div class="col-md-10">
  <%= form_with model:@public_set_up, url: coworking_manager_coworking_path(@coworking.id, :bike_storage, :coffee_access), method: :patch, local: true do |form| %>
    <div class="cafe">
      <div class="cafe-width">
        <p>café :</p>
      </div>
      <div>
        <%= form.label :coffee_access, "absent" %>
        <%= radio_button("public_set_up", "coffee_access_id","1") %>
        <%= form.label :coffee_access, "gratuit" %>
        <%= radio_button("public_set_up", "coffee_access_id","2") %>
        <%= form.label :coffee_access, "payant" %>
        <%= radio_button("public_set_up", "coffee_access_id","3") %><br/>
      </div>
    </div>
    <div class="cafe">
      <div class="cafe-width">
        <p>parking vélo :</p>
      </div>
      <div>
        <%= form.label :bike_storage, "absent" %>
        <%= radio_button("public_set_up","bike_storage_id","1") %>
        <%= form.label :bike_storage, "gratuit" %>
        <%= radio_button("public_set_up","bike_storage_id","2") %>
        <%= form.label :bike_storage, "payant" %>
        <%= radio_button("public_set_up","bike_storage_id","3") %><br/>
      </div>
    </div>
    <div class="cafe">
      <div class="cafe-width">
        <%= form.label :is_pet_friendly, "animaux acceptés :" %>
      </div>
      <div>
        <%= form.check_box :is_pet_friendly, class:"btn btn-secondary active",value: @public_set_up.is_pet_friendly %><br/>
      </div>
    </div>
    <div class="cafe">
      <div class="cafe-width">
        <%= form.label :network_speed, "vitesse du réseau :" %>
      </div>
      <div>
        <%= form.number_field :network_speed, value: @public_set_up.network_speed %><br/>
      </div>
    </div>
    <%= form.submit "enregistrer", class:"btn btn-primary"  %>
  <% end %>
</div>
