<div class="hero">
  <div>
    <h1>Le futur du travail se passe ici</h1>
    <h2>Bookez un coworking partout en France, et travaillez en toute liberté !</h2>

    <%=link_to "Trouve ton coworking !", coworkings_path, class:"btn btn-primary search-btn"%>
  </div>
</div>
<div class="wrapper">
  <section>
    <h3 class="section-title">Du coworking près de chez vous...</h3>
    <div class="new-spots-section">
      <div>
        <div class="img-div">
          <a href="http://woovv.io/coworkings?utf8=%E2%9C%93&coworking%5Bdepartment%5D=75&commit=Afficher">
            <img
                  src="https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGFyaXN8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60"
                  alt="">
          </a>
          </div>
          <div class="city-div">
            <a href="http://woovv.io/coworkings?utf8=%E2%9C%93&coworking%5Bdepartment%5D=75&commit=Afficher">
              <span class="city">Paris</span>
            </a>
            <span class="activity-city">Ses terrasses, ses falafels, son ambiance, ses soirées et ses <%= @coworkings.select { |c| c.zipcode[0..1] == "75" }.count %> coworkings.</span>
          </div>
        </div>
        <div>
          <div class="img-div">
            <a href="http://woovv.io/coworkings?utf8=%E2%9C%93&coworking%5Bdepartment%5D=13&commit=Afficher">
              <img
                  src="https://images.unsplash.com/photo-1597319327173-efb8c3e632ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80"
                  alt="">
            </a>
            </div>
            <div class="city-div">
              <a href="http://woovv.io/coworkings?utf8=%E2%9C%93&coworking%5Bdepartment%5D=13&commit=Afficher">
                <span class="city">Marseille</span>
              </a>
              <span class="activity-city">Son vélodrome, ses falafels, sa canebière, sa bonne mère et ses <%= @coworkings.select { |c| c.zipcode[0..1] == "13" }.count %> coworkings.</span>
            </div>
          </div>
          <div>
            <div class="img-div">
              <a href="http://woovv.io/coworkings?utf8=%E2%9C%93&coworking%5Bdepartment%5D=33&commit=Afficher">
                <img
                  src="https://images.unsplash.com/photo-1493564738392-d148cfbd6eda?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                  alt="">
              </a>
              </div>
              <div class="city-div">
                <a href="http://woovv.io/coworkings?utf8=%E2%9C%93&coworking%5Bdepartment%5D=33&commit=Afficher">
                  <span class="city">Bordeaux</span>
                </a>
                <span class="activity-city">Son vin, ses falafels, ses restaurants, son marché des capucins et ses <%= @coworkings.select { |c| c.zipcode[0..1] == "33" }.count %> coworkings</span>
              </div>
            </div>
            <div>
              <div class="img-div">
                <a href="http://woovv.io/coworkings?utf8=%E2%9C%93&coworking%5Bdepartment%5D=44&commit=Afficher">
                  <img
                  src="https://images.unsplash.com/photo-1544013592-1c2496aa255e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                  alt="">
                  </a>
                </div>
                <div class="city-div">
                  <a href="http://woovv.io/coworkings?utf8=%E2%9C%93&coworking%5Bdepartment%5D=44&commit=Afficher">
                    <span class="city">Nantes</span>
                  </a>
                    <span class="activity-city">Son île, ses falafels, son éléphant, son voyage et ses <%= @coworkings.select { |c| c.zipcode[0..1] == "44" }.count %> coworkings.</span>
                </div>
              </div>
              <div>
                <div class="img-div">
                  <a href="http://woovv.io/coworkings?utf8=%E2%9C%93&coworking%5Bdepartment%5D=74&commit=Afficher">
                    <img
                  src="https://images.unsplash.com/photo-1590274853751-8fb10591d007?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YW5uZWN5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                  alt="">
                    </a>
                  </div>
                  <div class="city-div">
                    <a href="http://woovv.io/coworkings?utf8=%E2%9C%93&coworking%5Bdepartment%5D=74&commit=Afficher">
                      <span class="city">Annecy</span>
                    </a>
                    <span class="activity-city">Son lac, ses falafels, ses montagnes, ses canaux et ses <%= @coworkings.select { |c| c.zipcode[0..1] == "74" }.count %> coworkings.</span>
                  </div>
                </div>
                <div>
                  <div class="img-div">
                    <a href="http://woovv.io/coworkings?utf8=%E2%9C%93&coworking%5Bdepartment%5D=69&commit=Afficher">
                      <img
                  src="https://images.unsplash.com/photo-1600775653108-3e08a69d224c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80"
                  alt="">
                    </a>
                    </div>
                    <div class="city-div">
                      <a href="http://woovv.io/coworkings?utf8=%E2%9C%93&coworking%5Bdepartment%5D=69&commit=Afficher">
                        <span class="city">Lyon</span>
                      </a>
                      <span class="activity-city">Sa fête des lumières, ses falafels, sa gastronomie et ses <%= @coworkings.select { |c| c.zipcode[0..1] == "69" }.count %> coworkings.</span>
                    </div>
                  </div>
                  <div>
                    <div class="img-div">
                      <a href="http://woovv.io/coworkings?utf8=%E2%9C%93&coworking%5Bdepartment%5D=31&commit=Afficher">
                        <img
                  src="https://images.unsplash.com/photo-1567351673954-0cb49f639dc4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                  alt="">
                      </a>
                      </div>
                      <div class="city-div">
                        <a href="http://woovv.io/coworkings?utf8=%E2%9C%93&coworking%5Bdepartment%5D=31&commit=Afficher">
                          <span class="city">Toulouse</span>
                        </a>
                        <span class="activity-city">Ses couleurs roses, ses falafels, son rugby, sa proximité avec l'espace et ses <%= @coworkings.select { |c| c.zipcode[0..1] == "31" }.count %> coworkings.</span>
                      </div>
                    </div>
                    <div>
                      <div class="img-div">
                        <a href="http://woovv.io/coworkings?utf8=%E2%9C%93&coworking%5Bdepartment%5D=59&commit=Afficher">
                          <img
                  src="https://images.unsplash.com/photo-1601718747314-f144ab340cca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=676&q=80"
                  alt="">
                        </a>
                        </div>
                        <div class="city-div">
                          <a href="http://woovv.io/coworkings?utf8=%E2%9C%93&coworking%5Bdepartment%5D=59&commit=Afficher">
                            <span class="city">Lille</span>
                          </a>
                          <span class="activity-city">Sa braderie, ses falafels, son LOSC, son beffroi et <%= @coworkings.select { |c| c.zipcode[0..1] == "31" }.count %> ses coworkings.</span>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section>
                    <h3 class="section-title">Du coworking loin de chez vous !</h3>
                    <div class="activities">
                      <div>
                        <div class="img-activities">
                          <img
                src="https://images.unsplash.com/photo-1586227740560-8cf2732c1531?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1428&q=80"
                alt="">
                          </div>
                          <h4>Au bord d'un lac</h4>
                        </div>
                        <div>
                          <div class="img-activities">
                            <img
                src="https://images.unsplash.com/photo-1572511443032-a3cfe6823872?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1351&q=80"
                alt="">
                            </div>
                            <h4>Sous les cocotiers</h4>
                          </div>
                          <div>
                            <div class="img-activities">
                                <img
                  src="https://images.unsplash.com/photo-1590580673100-ee7ee687bfa6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODZ8fGRpZ2l0YWwlMjBub21hZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                  alt="">
                              </div>
                              <h4>A la montagne</h4>
                            </div>
                          </section>
                          <section class="find-inspiration">
                            <a href="#" class="btn btn-primary teal">Trouvez l'inspiration</a>
                          </section>
                          <section class="join-us">
                            <div class="category-customer">
                              <h3>Vous êtes gérant d'un espace de coworking ?</h3>
                              <p>Woovv vous accompagne pour proposer vos espaces disponibles en 1 clic à tous les Woovers. Nous gérons
                              pour vous toutes les étapes de la réservation à la facturation.</p>
                              <button class="btn btn-primary bottom">Rejoignez-nous</button>
                            </div>
                            <div class="category-customer">
                              <h3>Vous êtes une entreprise ?</h3>
                              <p>Woovv vous accompagne dans le suivi de vos collaborateurs en télétravail.
                              Avec Woovv, votre entreprise a désormais des bureaux dans toute la France</p>
                              <button class="btn btn-primary bottom">Rejoignez-nous</button>
                            </div>
                            <div class="category-customer">
                              <h3>Vous êtes freelance ?</h3>
                              <span class="stop-waiting-friday">STOP WAITING FRIDAY ! </span> 
                              <p>Woovv vous accompagne dans la réservation de coworking en
                              vous proposant +2000 espaces de coworkings à travers la France et bientôt l'Europe.</p>
                              <button class="btn btn-primary bottom">Rejoignez-nous</button>
                            </div>
                          </section>
                        </div>
