<div class="wrapper">
  <h1>La Woovv Team </h1>
  <div class="team-grid">
    <div class="jo">
      <div class="photo-team">
        <%= image_tag "https://media-exp1.licdn.com/dms/image/C4D03AQHf0zCy51LVXw/profile-displayphoto-shrink_800_800/0/1517491876098?e=1636588800&v=beta&t=pmdczFjmSWFvyk_m1wkTyAQ06baHQwa1Bunl9Hq1COE" %>
      </div>
      <div class="team-presentation">
        <span class=first-name>Jonathan</span>
        <p>Notre expert CSS, il est le plus têtu de l'équipe et manque de patience. Le master CSS décore vos banals pages html en splendides oeuvres.</p>
      </div>
    </div>
    <div class="marin">
      <div class="photo-team">
        <%= image_tag "https://media-exp1.licdn.com/dms/image/C4D03AQHgl6Pp9zktVQ/profile-displayphoto-shrink_800_800/0/1542305409290?e=1636588800&v=beta&t=ZvTxIuvpXSMiaKgCyX3CQuV5oiWPFNZ-UQGOE2_k0DA" %>
      </div>
      <div class="team-presentation">
        <span class=first-name>Marin</span>
        <p>CEO & cerveau de woovv. Toujours imperturbable dans le code, même quand il y a du vent. Son truc à lui c'est les croissants au beurre...au beurre.</p>
      </div>
    </div>
    <div class="david">
      <div class="photo-team ">
        <%= image_tag "https://media-exp1.licdn.com/dms/image/C5603AQGN6ZBPyIUoYw/profile-displayphoto-shrink_800_800/0/1556526463247?e=1636588800&v=beta&t=zkSLxPOCZZ4xVqcF6ihAhkWfZ9TzCjrOv_ABe_n9veI" %>
      </div>
      <div class="team-presentation">
        <span class=first-name>David</span>
        <p>Notre expert de la base de données. Le BDD Master conçoit, casse et concasse les BDD presque sans râler.</p>
      </div>
    </div>
    <div class = "amelie">
      <div class="photo-team ">
        <%= image_tag "https://media-exp1.licdn.com/dms/image/C4E03AQHh_FNAnzZJWQ/profile-displayphoto-shrink_800_800/0/1563209616979?e=1636588800&v=beta&t=jLAB44t9YVfdNTqgS054eZKtDnUKv3C4l5Vg0kdwpvw" %>
      </div>
      <div class="team-presentation">
        <span class=first-name>David</span>
        <p>Notre experte API, elle prend en main avec patience les nouvelles API et les intègre sans casse dans l'application. Le matin, elle se lève avant tout le monde pour coder. </p>
      </div>
    </div>
    <div class="ambroise">
      <div class="photo-team">
        <%= image_tag "https://pbs.twimg.com/profile_images/870575854954450949/bIJZgHmG.jpg" %>
      </div>
      <div class="team-presentation">
        <span class=first-name>Ambroise</span>
        <p>Notre digital nomad, il a testé le remote depuis des terres éloignées pour s'imprégner de l'esprit Woovv et proposer un produit adapté à nos Woovvers. Il a traversé les mers pour lancer le meilleur coworking de France à Surtainville, là où tout a commencé. </p>
      </div>
    </div>
    <%# <div class="full-team">
      <div class="photo-team">
        <%= image_tag "photo_shots.jpg" %>
    <%# </div>
      <div class="team-presentation">Qui nous sommes vraiment...</div>
    </div> 
    <div class=" falafel"> %>
    <%# <div class="photo-team">
      <%= image_tag "https://www.delonghi.com/Global/recipes/multifry/195.jpg" %>
    <%# </div>
    <div class="team-presentation">Notre passion commune 
      <p> Chez Woovv, on aime les falafels. Et pour mêler notre passion du falafel à celle de l'informatique; nous avons lancé le falafel•case pour standardiser nos nommages sur GitHub. Utilisez•le•falafel•case : une utilisation écoresponsable et bio de GitHub.</p>
    </div>
  </div> %>
  </div>
</div>
</div>
