<div class="wrapper">
  <div>
    <h2 class="title-su">Inscription</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <div class="div-email container-su ">
        <%# <%= f.label :email, :class=>'title-field' %>
        <%= f.email_field :email, autofocus: true, placeholder: "email" , class: 'field-su' %>
      </div>
    </div>
    <div class="field container-su">
      <div class="password1">
      <%# <%= f.label :password %>
      </div>
      <%= f.password_field :password, placeholder: "Password (6 characters min)"  , class:'field-su' %>
    </div>
    <div class="field container-su">
      <%# <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, placeholder: "Confirm password" , class:'field-su'%>
    </div>
    <div class="actions div-su">
      <%= f.submit "Let's go !" , :class => 'btn-su' %>
    </div>
    <div class="already">
      <%= link_to "J'ai déjà un compte" , new_user_session_path %>
    </div>
  <% end %>
</div>