<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<table class='table'>
  <thead class="thead-dark">
    <tr>
      <th>Coworking</th>
      <th>Début</th>
      <th>Fin</th>
      <th>Statut</th>
      <th>Action</th>
    </tr>
  </thead>

    <% @bookings.each do |booking|%>
      <tr>
        <td>
            <%= booking.coworking.name%>
        </td>

        <td>
        <%=  booking.start_date  %>
        </td>

          <td>
        <%=  booking.end_date  %>
          </td>

          <td>
        <%=  booking.booking_status.status  %>
          </td>

        <td>
        <%= link_to "Annuler", user_booking_path(current_user.id,booking.id, booking_status_id: 4), method: :patch, class:'btn btn-primary', local:true %>
          </td>
      </tr>
    <% end %>
</table>
