<div class="wrapper">
  <div class="card-user">
    <div class="user-pic">
      <%if @user.avatar.attached?%>
        <div class='avatar-photo'>
          <%=image_tag @user.avatar, alt: 'avatar'%>
        </div>
        <%= render 'modaleditavatar'%>
      <%else%>
        <a href="" data-toggle="modal" data-target="#modalLoginForm">
          <i class="far fa-user fa-lg"></i>
        </a>
        <%= render 'modalnewavatar'%>
      <%end%>
      <%=link_to user_avatar_path(@user, @user.avatar), :method => :delete, class:"avatar-delete" do%>
        <i class="far fa-trash-alt hover-hidden"></i><br>
      <%end%>
      <a href="" class="avatar-edit" data-toggle="modal" data-target="#modalLoginForm"><i class="far fa-edit hover-hidden"></i></a>
    </div>
    <div class = "user-info">
      <div>
        <h5>Informations du compte <%= link_to edit_user_registration_path do%>
            <i class="far fa-edit "></i>
          <%end%></h5>
        <div><small><%=current_user.created_at.strftime("Membre depuis le %d/%m/%Y")%></div>
        </small>
        <b>Email :</b>
        <span><%=current_user.email%></span>
      </div>
      <div>
        <h5>Informations personnelles <%= link_to edit_user_path(current_user) do%>
            <i class="far fa-edit "></i>
          <%end%></h5>
        <b>Nom complet :</b>
        <%if current_user.first_name%>
          <span><%=current_user.first_name%></span>
        <%end%>
        <%if current_user.last_name%>
          <span><%=current_user.last_name%></span>
        <%end%>
        <div>
          <b>Téléphone :</b>
          <span><%=current_user.phone_number%></span>
        </div>
        <div>
          <b>Date de naissance :</b>
          <% if current_user.birth_date %>
            <span><%=current_user.birth_date.strftime("%d/%m/%Y")%></span>
          <%end%>
        </div>
      </div>
      <div>
        <h5>Activités</h5>
        <%=link_to "Voir mes propres réservations", user_bookings_path(current_user), class:'btn btn-primary'  %>
        <% if current_user.managed_coworkings.count > 0%>
          <%=link_to "Gérer mes réservations", coworking_manager_bookings_path(current_user), class:'btn btn-info' %>
          <%=link_to "Proposer un nouvel espace", "https://rz038zhvlso.typeform.com/to/o13LHWwe", class:'btn btn-secondary'  %>
        <%else%>
          <%=link_to "Devenir coworking manager", "https://rz038zhvlso.typeform.com/to/fOfiofVp", class:'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to "Deconnexion",destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
</div>
