
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
<h2 class="title-su"> Changer mon mot de passe </h2>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>


  <div class="field container-su">
    <%# <%= f.label :password, "New password" %>
    <%= f.password_field :password, autofocus: true, placeholder: "Nouveau mot de passe (#{@minimum_password_length} caractères minimum)" , class: 'field-su'%>
  </div>

  <div class="field container-su">
    <%# <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation, placeholder: "Confirmez votre nouveau mot de passe" , class: 'field-su'%>
  </div>

  <div class="actions div-su">
    <%= f.submit "Modifier" , class:"btn-su" %>
  </div>
<% end %>

<%# <%= render "devise/shared/links" %>  
