<p id="notice"><%= notice %></p>

<h1>Coworkings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coworkings.each do |coworking| %>
      <tr>
        <td><%= link_to 'Show', coworking %></td>
        <td><%= link_to 'Edit', edit_coworking_path(coworking) %></td>
        <td><%= link_to 'Destroy', coworking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coworking', new_coworking_path %>
