<div class="wrapper">
  <%= render 'zipcode_selector'%>
  <div class="map-page">
    <div id="toshow" class="coworking-list">
      <h2 class="stickysticky">Liste des coworkings</h2>
      <% @coworkings.each do |coworking|%>
      <a href="/coworkings/<%=coworking.id%>" >
        <div id="cwtoshow-<%=coworking.id%>" coordinates="<%=[(coworking.latitude.to_f)/1000000,(coworking.longitude.to_f)/1000000]%>" class="card">
          <%# <div class="card-header">
          Featured
        </div> %>
          <div class="card-body">
            <h5 class="card-title"><%= coworking.name %></h5>
            <p class="card-text"><%=coworking.address%>, <%=coworking.zipcode%> <%=coworking.city%></p>
          </div>
        </div>
        </a>
      <% end %>
    </div>
    <div id='map' value="<%=@coordinates%>" co_id="<%=@co_id%>" focus="<%=@box_focus%>" ></div>
  </div>
</div>
