<div class="wrapper">
<%= render 'zipcode_selector'%>
<div class="map-page">
  <div class="coworking-list">
    <h2 class="stickysticky">Liste des coworkings</h2>
    <% @coworkings.each do |coworking|%>
      <div class="card">
        <%# <div class="card-header">
          Featured
        </div> %>
        <div class="card-body">
          <h5 class="card-title"><%= coworking.name %></h5>
          <p class="card-text"><%=coworking.address%>, <%=coworking.zipcode%> <%=coworking.city%></p>
          <a href="#" class="btn btn-primary">Demande de réservation</a>
                    <a href="#" class="btn btn-outline">Plus d'information</a>

        </div>
      </div>
    <% end %>
  </div>
  <div id='map' value="<%=@coordinates%>" focus="<%=@box_focus%>" ></div>
</div>
</div>