<div class = "wrapper">
  <%= render "carousel" %>
  <div class="block-1">
    <div class = "block-1-left">
      <%= render "coworking-manager" %>
      <h3>Informations importantes :</h3>
      <div class = "flex">
        <h5><i class="fas fa-map-marker-alt"></i> Adresse :</h5>
        <p class="address"><%= @coworking.address %>, <%= @coworking.city %></p>
      </div>
      <div class="description">
        <h5>Description :</h5>
        <p> <%= @coworking.description %></p>
      </div>
      <div class="flex opening-hours">
        <div>
          <%= render 'opening-time' %>
        </div>
        <div>
          <%= render 'equipment' %>
        </div>
      </div>
    </div>
    <div class="block-1-right">
      <div>
        <h3>Demande de réservation</h3>
        <label for="">Début de la réservation</label><br>
        <input type="date" name="" id="">
      </div>
      <div>
        <label for="">Fin</label><br>
        <input type="date" name="" id="">
      </div>
      <p> Nous reviendrons vers vous dans les 24h avec une proposition de réservation pour ce Coworking.</p>
      <a class="btn btn-primary" src = "#">Go !</a>
    </div>
  </div>
  <%= render "map-show-coworking"%>
  <%= link_to 'Liste des coworkings', coworkings_path, class:"btn btn-danger" %>
</div>
