<div class = "wrapper">
  <%= render "carousel" %>
  <div class="block-1">
    <div class = "block-1-left">
      <%= render "coworking-manager" %>
      <h3>Informations importantes :</h3>
      <div class = "flex">
        <h5><i class="fas fa-map-marker-alt"></i> Adresse :</h5>
        <p class="address"><%= @coworking.address %>, <%= @coworking.city %></p>
      </div>
      <div class="description">
        <h5>Description :</h5>
        <p> <%= @coworking.description %></p>
      </div>
      <div class="flex opening-hours">
        <div>
          <%= render 'opening-time' %>
        </div>
        <div>
          <%= render 'equipment' %>
        </div>
      </div>
    </div>
    <div class="block-1-right">
      <% if current_user %>
        <%= form_with model:@booking, url: user_bookings_path(current_user.id, coworking_id:params[:id]), method: :post, local: true do |form| %>
          <div>
            <%= form.label :start_date, "Début de la réservation" %>
            <%= form.date_field :start_date %>
          </div>
          <br/>
          <br/>
          <br/>
          <div>
            <%= form.label :end_date, "Fin (jour inclus)" %>
            <%= form.date_field :end_date%>
          </div>
          <p> Nous reviendrons vers vous dans les 24h avec une proposition de réservation pour ce Coworking.</p>
          <%= form.submit "Go !", class:"btn btn-primary" %>
        <% end %>
      <% else %>
        <%= form_with model:@booking, url: new_user_session_path, method: :get, local: true do |form| %>
          <div>
            <%= form.label :start_date, "Début de la réservation" %>
            <%= form.date_field :start_date %>
          </div>
          <br/>
          <br/>
          <br/>
          <div>
            <%= form.label :end_date, "Fin (jour inclus)" %>
            <%= form.date_field :end_date%>
          </div>
          <br/>
          <p class="alert alert-warning"> Vous devez vous identifier pour pouvoir faire une demande de réservation</p>
          <%= form.submit "Go !", class:"btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render "map-show-coworking"%>
<%= link_to 'Liste des coworkings', coworkings_path, class:"btn btn-danger" %>
</div>
