<div class="wrapper">
    <h2 class="title-su">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div>
            <div class="field">
                <div class="field container-su">
                  <%= f.email_field :email, autofocus: true, placeholder: "email",class: 'field-su' %>
                </div>
            </div>
            <div class="field container-su">
                  <%= f.password_field :password, placeholder: "password" , class:'field-su'%>
            </div>
            <% if devise_mapping.rememberable? %>
                <div class="field container-su remember">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
            <% end %>
          </div>
          <div class="actions div-su">
              <%= f.submit "Log in", class: 'btn-su' %>
          </div>
            <%= link_to "Sign up", new_user_registration_path %>

          <a type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"> Forgot your password ? </a>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Mot de passe oublié</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>
                      <div class="field">
                        <%= f.label :"Entrez l'e-mail associé à votre compte pour recevoir le lien" %>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'forgot-field' %>
                      </div>
                      <div class="actions">
                        <%= f.submit "Envoyer", class:"forgot-btn"%>
                      </div>
                  <% end %>
                  </div>
               </div>
             </div>
           </div>
            <% end %>
          </div>
      </div>
      </div>
    </div>
  </div>
  


<%# --------------------------- ! Début du modal ! --------------------------- %>



<%# --------------------------- ! Fin du modal ! --------------------------- %>
