<p id="notice"><%= notice %></p>

<h1>Public Set Ups</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @public_set_ups.each do |public_set_up| %>
      <tr>
        <td><%= link_to 'Show', public_set_up %></td>
        <td><%= link_to 'Edit', edit_public_set_up_path(public_set_up) %></td>
        <td><%= link_to 'Destroy', public_set_up, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Public Set Up', new_public_set_up_path %>
