<footer class="bd-footer">
  <div class="footer">
    <div class="col-lg-12">
      <div class="row justify-content-center">
        <div class="social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="row justify-content-center">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="<%= root_path%>">Accueil</a></li>•
                <li class="list-inline-item"><a href="<%= team_path%>">Notre équipe</a></li>•
                <li class="list-inline-item"><a href="<%= contact_path%>">Contact</a></li>•
                <li class="list-inline-item"><a href="<%=help_path%>">Besoin d'aide?</a></li>
                <!--<li class="list-inline-item"><a href="< %=cgv_path%>">CGV</a></li><br/>-->
            </ul>
      </div>
      <div class="row justify-content-center">
          <%= link_to "Woovv © 2021", root_path, class:"footer-brand"%>
      </div>
      <div class="row justify-content-center">
          <ul class="list-unstyled small text-muted">
            <li>Designed and built with all the love in the world by the <a href="<%= team_path%>">Woovv team in Surtainville</a>.</li>
          </ul>
      </div>
    </div>
  </div>
</footer>
