<header>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <%= link_to "Woovv", root_path, class:"navbar-brand"%>
  <nav>
    <ul>
      <% if !current_user%>
        <li><%= link_to "Connexion", new_user_session_path, class:"navbar-item" %></li>
        <li><%= link_to "Inscription", new_user_registration_path, class:"navbar-item" %></li>
      <% else %>
        <% if current_user.bookings.count > 0%>
          <li><%= link_to "Mes réservations", user_bookings_path(current_user.id), class:"navbar-item"  %></li>
        <% end %>
        <li><%= link_to "Mon compte",  user_path(current_user.id),class:"navbar-item" %></li>
        <li><%= link_to "Deconnexion",destroy_user_session_path, method: :delete, class:"navbar-item" %></li>
        <div class = "coworking-manager">
          <li><%= link_to "Mes coworkings", coworking_manager_coworkings_path, class:"navbar-item"  %></li>
          <li><%= link_to "Gérer les réservations", coworking_manager_bookings_path, class:"navbar-item"  %></li>
        </div>
        <li><%= link_to "Trouver un coworking", coworkings_path, class:"btn btn-primary" %></li>
      <% end %>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>
